<!-- Custom sidebar widget -->

<script type="text/discourse-plugin" version="0.8">
  const ajax = require('discourse/lib/ajax').ajax;

  // script wont run unless user is logged in
  if (api.getCurrentUser() === null) return false;

  let currentUser = Discourse.User.currentProp('username');

  api.registerConnectorClass('discovery-below', 'sidebar', {
    setupComponent(args, component) {
      ajax("/u/" + currentUser + "/summary.json").then (function(result){

        stinkinBadges = [];

        userLikesReceived = result.user_summary.likes_received;
        userLikesGiven = result.user_summary.likes_given;
        userPostCount = result.user_summary.post_count;
        userTopicCount = result.user_summary.topic_count;

        component.set('userLikesReceived', userLikesReceived);
        component.set('userLikesGiven', userLikesGiven);
        component.set('userPostCount', userPostCount);
        component.set('userTopicCount', userTopicCount);
        component.set('userName', api.getCurrentUser().name);
        component.set('user', api.getCurrentUser().username);

      });

    }

  });
</script>

<!-- Custom sidebar template -->

<script
  type="text/x-handlebars"
  data-template-name="/connectors/discovery-below/sidebar"
>
  <div class="dbook-sidebar">
    {{#if (theme-setting "sidebar_show_intro")}}
    <h2>🤗 {{i18n (theme-prefix "sidebar.welcome")}} {{#if userName}}{{i18n (theme-prefix "sidebar.back")}} {{userName}} {{/if}} </h2>
    <p>{{i18n (theme-prefix "sidebar.welcome_subhead")}}</p>
    {{/if}}

    {{#if (theme-setting "sidebar_show_likes")}}
    {{#if userLikesGiven}}
    <div class="likes">
      <h3>{{i18n (theme-prefix "sidebar.likes_header")}}</h3>
      {{user-stat value=userLikesReceived icon="thumbs-up" label="user.summary.likes_received"}}
      {{user-stat value=userLikesGiven icon="thumbs-up" label="user.summary.likes_given"}}

      {{user-stat value=userPostCount icon="reply" label="user.summary.post_count"}}
      {{user-stat value=userTopicCount icon="pencil-alt" label="user.summary.topic_count"}}
    </div>
    {{/if}}
    {{/if}}

    {{#unless user}}
      <div class="visitor">
        {{replace-emoji (i18n "signup_cta.value_prop")}}
        {{d-button action=(route-action "showCreateAccount") class="btn-primary sign-up-button" label="sign_up"}}
      </div>
    {{/unless}}

    {{#if user}}
    <a class="sidebar-link" href="/my/summary">{{i18n (theme-prefix "sidebar.full_profile")}}</a>
    {{/if}}

  </div>

</script>

<script
  type="text/x-handlebars"
  data-template-name="components/categories-boxes"
>

{{#each categories as |c|}}
  <div style={{unless noCategoryStyle (border-color c.color)}} data-category-id={{c.id}} data-notification-level={{c.notificationLevelString}} data-url={{c.url}} class="category category-box category-box-{{c.slug}} {{if c.isMuted "muted"}} {{if noCategoryStyle "no-category-boxes-style"}}">
    <div class="category-box-inner">
      {{#unless c.isMuted}}
        <div class="category-logo">
          {{#if c.uploaded_logo.url}}
            {{cdn-img
              src=c.uploaded_logo.url
              class="logo"
              width=c.uploaded_logo.width
              height=c.uploaded_logo.height
            }}
          {{/if}}
        </div>
      {{/unless}}
      <div class="category-details">
        <div class="category-box-heading">
          <h1> Ministry of Testing </h1>
          <a class="parent-box-link" href={{c.url}}>
            <h3>
              {{category-title-before category=c}}
              {{#if c.read_restricted}}
                {{d-icon "lock"}}
              {{/if}}
              {{c.name}}
            </h3>
          </a>
        </div>

        {{#unless c.isMuted}}
          <div class="description">
            {{html-safe c.description_excerpt}}
          </div>
          {{#if c.isGrandParent}}
            {{#each c.subcategories as |subcategory|}}
              <div data-category-id={{subcategory.id}} data-notification-level={{subcategory.notificationLevelString}} style={{border-color subcategory.color}} class="subcategory with-subcategories {{if subcategory.uploaded_logo.url "has-logo" "no-logo"}}">
                <div class="subcategory-box-inner">
                  {{category-title-link tagName="h4" category=subcategory}}
                  {{#if subcategory.subcategories}}
                    <div class="subcategories">
                      {{#each subcategory.subcategories as |subsubcategory|}}
                        {{#unless subsubcategory.isMuted}}
                          <span class="subcategory">
                            {{category-title-before category=subsubcategory}}
                            {{category-link subsubcategory hideParent="true"}}
                          </span>
                        {{/unless}}
                      {{/each}}
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/each}}
          {{else if c.subcategories}}
            <div class="subcategories">
              {{#each c.subcategories as |sc|}}
                <a class="subcategory" href={{sc.url}}>
                  <span class="subcategory-image-placeholder">
                    {{cdn-img
                        src=sc.uploaded_logo.url
                        class="logo"
                        width=sc.uploaded_logo.width
                        height=sc.uploaded_logo.height}}
                  </span>
                  {{category-link sc hideParent="true"}}
                </a>
              {{/each}}
            </div>
          {{/if}}
        {{/unless}}
      </div>
    </div>
  </div>
{{/each}}

</script>
